body {
    margin: 75px 20px 0 20px;
}

#mainContainer {
    display: table;
    width: 100%;
}

div.btnContainer {
	width: 90%;
	margin: 5px auto;
}

div.btnContainer .btn {
	width: 100%;
}

.requiredField:before {
    content: "*";
}

div.well ul.list-inline,
div.panel ul.list-inline {
	margin: 0;
}
div.well ul.list-inline li,
div.panel ul.list-inline li {
	border-right: 1px gainsboro solid;
}
div.well ul.list-inline li:last-child,
div.panel ul.list-inline li:last-child {
	border: none;
}

a,
button,
input[type=submit],
input[type=file] {
   outline: 0 none !important;
}

a:hover {
    text-decoration: none;
}

table tr th.action {
    width: 10px;
}

div.formContactPic {
    width: 180px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 15px;
}

div.formContactPic img {
    width: 178px;
    height: 198px;
}

button,
input[type=submit],
.file-input-wrapper {
    margin: 5px 0;
}

div.checkboxContainer label {
    font-weight: normal;
    margin-left: 5px;
}

.aspNetDisabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .65;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}